<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Liczi / Lychee - Zaplanuj swój jadłospis</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  
  <body class="h-screen flex bg-gray-200">

    <div id="main" class="w-screen border-2 border-red-600"> 

      <header class="flex justify-between bg-gray-900 px-10 py-3">
        <div class="flex justify-start text-white"> 
          <button class="py-2" onclick="toggleNav()">
            <%= icon_tag(@conn, "menu", class: "h-6 w-6 text-white fill-current") %>
          </button>
          <div class="px-4 py-2">Lychee</div>
        </div>
        <div class="text-blue-300">
          <%= if @current_user do %>
            Logged in as <%= @current_user.username %>
            |
            <%= link "Log out", to: Routes.session_path(@conn, :delete), method:
            :delete %>
          <% else %>
            <%= link "Sign up", to: Routes.user_path(@conn, :new) %> 
            |
            <%= link "Login", to: Routes.session_path(@conn, :new) %>
          <% end %>
        </div>
      </header>

      <nav id="side_bar" class="fixed hidden w-screen h-screen-1/2 bg-gray-900">
        <%= if @current_user do %>
          Logged in as <%= @current_user.username %>
          |
          <%= link "Log out", to: Routes.session_path(@conn, :delete), method:
          :delete %>
        <% else %>
          <%= link "Sign up", to: Routes.user_path(@conn, :new) %> 
          |
          <%= link "Login", to: Routes.session_path(@conn, :new) %>
        <% end %>
      </nav>
      
      <main class="mx-auto p-10 border-2 border-red-600">

        <%= render @view_module, @view_template, assigns %>

      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script>
      function toggleNav() {
        if (document.getElementById("side_bar").style.display !== "block") {
          document.getElementById("side_bar").style.display = "block";
        } else {
        document.getElementById("side_bar").style.display = "none";
        }
      }
    </script>

  </body>
</html>
