<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Liczi / Lychee - Zaplanuj swój jadłospis</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  
  <body id="app" class="bg-gray-200 antialiased">

    <header class="flex justify-between bg-gray-900 px-4 py-3">
      <div class="flex justify-start text-gray-300"> 
        <button class="px-4 py-2">Menu</button>
        <div class="px-4 py-2">Lychee</div>
      </div>
      <div class="text-blue-300">
        <%= if @current_user do %>
          Logged in as <%= @current_user.username %>
          |
          <%= link "Log out", to: Routes.session_path(@conn, :delete), method:
          :delete %>
        <% else %>
          <%= link "Sign up", to: Routes.user_path(@conn, :new) %> 
          |
          <%= link "Login", to: Routes.session_path(@conn, :new) %>
        <% end %>
      </div>
    
    </header>

    <main role="main" class="container mx-auto px-2">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
