<%= form_for @item, @action, [autocomplete: "off", class: "flex flex-col py-3"],
  fn f -> %>
    <%= input_tag(f, :name, "Nazwa") %>
    <%= input_tag(f, :kcal, "Kcal") %>
    <%= input_tag(f, :carbs, "Węglowodany") %>
    <%= input_tag(f, :proteins, "Białko") %>
    <%= input_tag(f, :fat, "Tłuszcze") %>

    <div class="flex flex-row py-3 self-end">
      <%= btn("Cofnij", to: Routes.item_path(@conn, :index)) %> 
      <%= btn("Dodaj", :submit) %>
    </div>
<% end %>