<div class="flex justify-center">

  <div class="flex flex-col">
    <h3 class="text-gray-900 text-xl self-center">
      Jadłospis na dzień 
      <strong class="text-blue-600"><%= @id %></strong> 
    </h3>
    
    <%= render(LycheeWeb.SharedView, "items.html", items: @items) %>
    <%= link "Dodaj", to: Routes.schedule_path(@conn, :edit, @id), class: "self-end shadow bg-gray-700 text-white rounded-lg px-4 py-2 ml-2 font-medium focus:outline-none focus:shadow-outline" %>
  </div>
</div>