<div class="flex justify-center bg-blue-600 ">

  <div class="flex flex-col bg-blue-400">
    <h3 class="text-gray-900 text-xl self-center">
      Jadłospis na dzień 
      <strong class="text-blue-600"><%= @id %></strong> 
    </h3>

    <table class="text-left border-collapse bg-white shadow-md rounded my-6"> 
      <thead>
        <tr class="border-b border-grey-light">
          <th class="py-4 pl-3 sm:pr-8 md:w-128 font-bold text-sm text-grey-dark">Nazwa</th>
          <th class="py-4 px-3 bg-grey-lightest font-bold text-sm text-grey-dark">Kcal</th>
          <th class="py-4 px-3 bg-grey-lightest font-bold uppercase text-sm text-grey-dark">B</th>
          <th class="py-4 px-3 bg-grey-lightest font-bold uppercase text-sm text-grey-dark">T</th>
          <th class="py-4 px-3 bg-grey-lightest font-bold uppercase text-sm text-grey-dark">W</th>
          <th class="py-4 px-3 bg-grey-lightest font-bold uppercase text-sm text-grey-dark"></th>
        </tr>
      </thead>
      <tbody>
        <%= for meal <- @meals do %>
        <tr class="hover:bg-grey-lighter border-b border-grey-light">
          <td class="py-4 pl-3 sm:pr-8 md:w-128"><%= meal.meal_name %></td>
          <td class="py-4 px-3"><%= meal.kcal %></td>
          <td class="py-4 px-3"><%= meal.proteins %></td>
          <td class="py-4 px-3"><%= meal.fat %></td>
          <td class="py-4 px-3"><%= meal.carbs %></td>
          <td class="flex py-4 pl-16 pr-3">
            <%= link "Usuń", to: Routes.schedule_path(@conn, :delete, @id, meal_id: meal.meal_id), method: :delete, class: "self-end shadow bg-blue-400 text-white rounded-lg px-4 py-2 ml-2 font-medium focus:outline-none focus:shadow-outline" %> 
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link "Dodaj", to: Routes.schedule_path(@conn, :edit, @id), class: "self-end shadow bg-gray-700 text-white rounded-lg px-4 py-2 ml-2 font-medium focus:outline-none focus:shadow-outline" %>
  </div>
</div>